<div class="content">
  <div class="padding-spaces">
    <h1 class="text-center">Space list</h1>
      <div class="text-center mystyle">
        <%= link_to "Create a space", new_space_path, class: "btn btn-light" %>
      </div>
    <div class="container">
      <div class="row">
        <% @spaces.each do |space| %>
          <div class="col-xs-12 col-sm-4">
            <% photo = space.photo || 'http://res.cloudinary.com/kaizen-conseil/image/upload/v1502875571/nbtpnhc6uewlnuaiodzl.jpg' %>
              <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path photo, height: 300, width: 400, crop: :fill %>')">
                  <div class="card text-center"> <%= space.name %>
                  </div>
                    <div class="card-description">
                      <h2> <%= space.price %> €/mois</h2>
                      <h2> <%= space.capacity %> postes</h2>
                    </div>
                  <% if params[:daterange].present? %>
                    <%= link_to '', space_path(space, daterange: params[:daterange]), class: "card-link" %>
                  <% else %>
                    <%= link_to '', space_path(space), class: "card-link" %>
                  <% end %>
              </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="map-container">
    <div id="map"></div>
  </div>

</div>
    <!-- Gmaps js: building the map -->

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  <% end %>
<% end %>
