<h1 class="text-center">Space list</h1>

<div class="text-center padded">
  <%= link_to "Create a space", new_space_path, class: "btn btn-primary" %>
</div>

<div class="container">
  <div class="row">
    <% @spaces.each do |space| %>
      <div class="col-xs-12 col-sm-4">
        <% photo = space.photo || 'http://placehold.it/350x150' %>
          <div class="card text-center" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path photo, height: 300, width: 400, crop: :fill %>')";">
              <div class="card-category"> <%= space.name %>
              </div>
                <div class="card-description">
                  <h2> <%= space.price %></h2>
                  <p><%= space.capacity %></p>
                </div>
              <%= link_to '', space_path(space), class: "card-link" %>
          </div>
      </div>
    <% end %>
  </div>
</div>




