<div class="content">

<div class="padding-spaces">
  <div class ='container' class ="banner">
    <h1><%= @space.name  %></h1>
    <p>Adresse : <%= @space.address %></p>
    <p><%= @space.description %></p>
    <p>Nombre de postes : <%= @space.capacity %></p>
    <p>Tarif : <%= @space.price %> €/mois</p>
    <p><%= cl_image_tag @space.photo, height: 300, width: 400 %></p>

    <%= link_to "Back to all lists", spaces_path %>
    <%= link_to "Update", edit_space_path %>
    <%= link_to "Delete", space_path(@space), method: :delete %>

<%= simple_form_for [@space, @booking] do |f| %>
  <%= f.input :date, placeholder: "80 (nombre de postes)" %>
  <%= f.button :submit, class: "btn btn-light"  %>
<% end %>


  </div>
</div>

  <div class="map-container">
    <div id="map"></div>
  </div>

</div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  <% end %>
<% end %>
