<div class="wrapper">
  <h1 class="text-center">My bookings</h1>
  <div class="container">

    <div class="row">
      <% @bookings.each do |b| %>
        <div class="message">
          <img class="avatar-square" src="http://res.cloudinary.com/kaizen-conseil/image/upload/v1503048994/Wework_ur4gvx.jpg">
          <div class="message-name">
            <h3>My booking</h3>
            <p><%= b.date.strftime("%d %m %Y") %></p>
          </div>
          <div class="message-body">
            <p><strong><%= b.space.name %></strong></p>
            <p>
              <%= b.space.description %>
            </p>
          </div>
          <div class="message-status">
            <p class="status pending">pending </p>
            <p class="price"><%= b.space.price %> €</p>
          </div>
          <div class="delation">
            <p>
              <%= link_to space_booking_path(b.space, b), method: "delete" do %>
              <i class="fa fa-trash-o fa-lg"></i>
              <% end %>
            </p>
          </div>
        </div>
      <% end %>
    </div>

     <div class="row">
        <div class="message">
          <img class="avatar-square" src="http://res.cloudinary.com/kaizen-conseil/image/upload/v1503048994/Wework_ur4gvx.jpg">
          <div class="message-name">
            <h3>My booking</h3>
            <p>2017-07-01 2017-07-31</p>
          </div>
          <div class="message-body">
            <p><strong>We Work</strong></p>
            <p>
              The best place.
            </p>
          </div>
          <div class="message-status">
            <p class="status accepted">accepted </p>
            <p class="price"> 450 €</p>
          </div>
        </div>
    </div>

    <div class="row">
        <div class="message">
          <img class="avatar-square" src="http://res.cloudinary.com/kaizen-conseil/image/upload/v1503048994/Wework_ur4gvx.jpg">
          <div class="message-name">
            <h3>My booking</h3>
            <p>2017-05-01 2017-06-30</p>
          </div>
          <div class="message-body">
            <p><strong>Remix Coworking</strong></p>
            <p>
              The best place.
            </p>
          </div>
          <div class="message-status">
            <p class="status declined">declined </p>
            <p class="price"> 900 €</p>
          </div>
        </div>
    </div>

  </div>
</div>
