<!-- <div class="pattern">
<h1>TEST</h1>
</div> -->


<div class="homebanner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.2) 100%), url(<%#= image_path 'cowork_background.jpg'%>);">
  <video class="idvideo" id="video" autoplay loop id="video-background" muted width="100%">
    <source src="http://res.cloudinary.com/kaizen-conseil/video/upload/v1503066217/Cows_-_190_klvmbq.mp4" type="video/mp4">
  </video>
  <div class="row">
    <div class="col-xs-12 col-buffer">
      <div class="banner-content">
        <h1>La Vache Qui Bosse</h1>
        <h3 class="enhance-secondary-title">Wake up the work-cow-holic in you</h3>
      </div>
    </div>
    <div class="col-xs-12">
      <form action="<%= spaces_path %>" method="get">
        <div class="form-row">
          <div class="col-xs-3">
            <input type="text" name="location" class="form-control" placeholder="Where?" id="address-search">
          </div>
          <div class="col-xs-3">
            <input type="text" name="daterange" class="form-control" value="<%= Date.today.strftime('%d/%m/%Y') +"-"+ Date.today.strftime('%d/%m/%Y') %>"/>
          </div>
          <div class="col-xs-3">
            <select class="form-control" name="people">
              <option selected>How many cows?</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
            </select>
          </div>
          <div class="col-xs-3">
            <button type="submit" class="btn btn-primary btn-block">Search
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">

    <% @spaces.each do |space| %>
      <div class="col-xs-4">
        <div class="card" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,-0.0) 100%), url('<%= space.photo_url %>');">
          <div class="card-body">
            <h4 class="card-title"><%= space.name %></h4>
            <p class="card-text"><%= space.description %></p>
            <!-- <a href="#" class="btn btn-primary">Plus d'info...</a> -->
            <%= link_to "Plus d'info...", space_path(space), class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<% content_for(:after_js) do %>
  <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
  <script>
    $(function() {
        $('input[name="daterange"]').daterangepicker();
    });
  </script>

  <!-- <script src="https://maps.googleapis.com/maps/api/js?libraries=places&amp;key=AIzaSyD_QRGa5exveYj-Pv0oLAJGcnrWLf-FPC0"></script> -->
  <script>

    var flat_address = $('#address-search').get(0);

    if (flat_address) {
      var autocomplete = new google.maps.places.Autocomplete(flat_address, { types: ['geocode'] });
      google.maps.event.addDomListener(flat_address, 'keydown', function(e) {
        if (e.keyCode == 13) {
          e.preventDefault(); // Do not submit the form on Enter.
        }
      });
    }
  </script>
<% end %>
